/*----------RESET----------*/
html, body  {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   height: 100%;
   min-height: 100%;
}
div {
   box-sizing: border-box;
}

/*----------BACKGROUND SETTINGS----------*/
#main-area {
   background: #FFF;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   min-height: 100%;
}
.container {
   background: linear-gradient(to right, #34495E 0%, #34495E 49.99%, #ECF0F1 50%, #ECF0F1 100%);
   height: 820px;
   width: 1600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

/*----------HEADER----------*/
.header-area {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.header-right {
   color: #34495E;
   margin-right: 200px;
   margin-top: 33px;

   font: 800 12px/15px 'Merriweather Sans', Tahoma, serif;
   font-style: normal;
   text-transform: uppercase;
   letter-spacing: 0.7px;
}

/*----------SECTION----------*/
.main-title {
   padding: 0;
   text-align: center;
}

h1 {
   font: bold 72px/80px 'Open Sans', Tahoma, serif;
   font-style: normal;
   text-align: center;
   letter-spacing: 1.7px;

   background: linear-gradient(to right, #ECF0F1 0%, #ECF0F1 49.99%, #34495E 50%, #34495E 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   width: 750px;
   height: 170px;
}

/*----------FOOTER----------*/
footer {
   width: 100%;

   margin: 0;
   padding: 0;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.menu-area-light {
   margin: 0 0 75px 231px;
}
.menu-item {
   position: relative;
}
.menu-link {
   font: bold 12px/15px 'Merriweather Sans', Tahoma, serif;
   font-style: normal;
   letter-spacing: 1.2px;
   text-transform: uppercase;
   text-decoration: none;
   color: #ECF0F1;
   padding: 30px;
}
.menu-link:last-child {
   padding-left: 0;
}

.menu-link:hover:before {
   content: '';
   position: absolute;
   width: 44px;
   height: 3px;
   top: calc(50% - 2px);
   left: calc(50% - 36px);
   transform: rotate(-45deg);
   background: #ECF0F1;
   text-decoration: underline;
}

.menu-list {
   padding: 0;
   margin: 0;
   list-style-type: none;

   display: flex;
   flex-direction: row;

}

.social-area-dark {
   margin: 0 170px 75px 0;
}

.social-list {
   padding: 0;
   margin: 0;
   list-style-type: none;

   display: flex;
   flex-direction: row;
}

.social-item {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   height: 25px;
   width: 25px;
   border: 2px solid #34495E;
   border-radius: 50%;

   margin-left: 30px;
}

.social-link {
   font: bold 12px/15px 'Merriweather Sans', Tahoma, serif;
   font-style: normal;
   letter-spacing: 1.2px;
   text-transform: uppercase;
   text-decoration: none;
   color: #34495E;
   padding: 10px;
}
.social-link .fab {
   font-size: 13px;
}

.social-link:hover .fab {
   color: darkred;
}